.TaskList {
  font-family: sans-serif;
  text-align: center;
}
.taskTable,
td,
th {
  column-width: 100px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
}


td  + .taskStateDone { 
background-color: green;
color: white;


}
